body{
    width: 100%;
    height: 100vh;
    background: #eee;
}

.header{
    background: white;
}

.center{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background: white;
    min-height: 700px;
    padding: 30px 30px;
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
}